.track {
  display: grid;
  align-items: center;
  grid-template: auto / auto 1fr auto;
  border: 1px solid white;
  width: 500px;
}

.track__image {
  height: 46px;
}

.text__box {
  text-align: left;
  margin-left: 20px;
}

.text__box > * {
  margin: 0;
}

.action__btn {
  background: none;
  border: none;
  height: 100%;
  padding: auto 0;
}

.title__elm {
  padding: 0;
}
