@import url("./assets/fonts/circular-std.css");

:root {
  --main-font-color: white;
  --secondary-bg-color: #181b2c;
  --primary-bg-color: #383b49;
  --font-family: "Circular Std", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: var(--secondary-bg-color);
  color: var(--main-font-color);
}

body {
  font-family: var(--font-family);
  margin: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: "Circular Std", sans-serif;
  font-weight: 500;
}
